<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Panel Login</title>
    <link rel="stylesheet" href="/static/css/adminStyle.css">
</head>
<body>
    <div class="login-container">
        <h1>Admin Login</h1>
        <form id="loginForm" method="POST" action="/admin/login">
            <div class="form-group">
                <label for="email">email</label>
                <input type="text" id="email" name="email" placeholder="Enter your email" required>
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" id="password" name="password" placeholder="Enter your password" required>
            </div>
            <button type="submit" class="btn">Login</button>
        </form>
        <p id="errorMessage" class="error-message"></p>
    </div>

    <script>
        document.getElementById('loginForm').addEventListener('submit', function(event) {
            event.preventDefault(); // Prevent default form submission

            const email = document.getElementById('email').value;
            const password = document.getElementById('password').value;

            // Make a POST request
            fetch('/admin/login', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({ email:email, password:password }),
            })
            .then(response => {
                if (response.ok) {
                    // Redirect to admin panel or show success
                    window.location.href = '/admin/users';
                } else {
                    
                    return response.json();
                }
            })
            .then(data => {
                if (data) {
                    // Show error message
                    console.log(data)
                    document.getElementById('errorMessage').textContent = data["error"];
                }
            })
            .catch(error => {
                console.error('Error:', error);
                document.getElementById('errorMessage').textContent = 'An unexpected error occurred.';
            });
        });
    </script>
</body>
</html>
