<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Main Page</title>
    <style>
      .post {
        border-style: inset;
        margin: 5px;
      }
    </style>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
  <div class="container">
    <h1><a href="/">Main Page</a></h1>
    {{ if .user }}
    <h5>hello, {{ .user.Login }}</h5>
    <div class="nav">
        <a href="/logout">logout</a>
        <a href="/createPost">Create Post</a>
    </div>  
    {{ else }}
      <a href="/register">register </a>|
      <a href="/login">login</a>
    {{ end }}
    <br>
    <a href="/users">users</a>
    <!-- Фильтрация и сортировка -->
    <div style="margin-top: 20px;">
        <label for="author">Author:</label>
        <input type="text" id="author" placeholder="insert author">
        <button onclick="applyFilters()">Filter</button>
    </div>

    <div>
        <label for="sortDate">sort by date:</label>
        <select id="sortDate">
            <option value="DESC">desc</option>
            <option value="ASC">asc</option>
        </select>
        <button onclick="applyFilters()">Sort</button>
    </div>



    <div id="posts"></div>
    <div>
      <button onclick="changePage()">More.</button>
    </div>
    <script>
        let currentPage = 1;
        let currentAuthor = '';
        let currentSort = 'DESC';

        // Функция для отправки GET-запроса с параметрами
        function fetchPosts() {
            var url = `/getPost?`
            if (currentAuthor !== '') {
              url = url + "author=" + currentAuthor
            }

            if ((currentAuthor !== "") && currentSort !== ""){
              url +="&"
            }
            if (currentSort !== ""){
              url = url + "sort=" + currentSort
            }
            if ((currentAuthor !== "" || currentSort !== "") && currentPage !== 0){
              url +="&"
            }
            if (currentPage !== 0){
              url = url + "page=" +currentPage
            }
            // const url = `/getPost?author=${currentAuthor}&sortDate=${currentSort}&page=${currentPage}`;
            fetch(url)
                .then(response => response.json())
                .then(data => {
                    displayPosts(data.posts); // Отображение полученных постов
                })
                .catch(error => console.error('Error fetching posts:', error));
        }

        // Функция для отображения постов
        function displayPosts(posts) {
            const postsDiv = document.getElementById('posts');

            posts.forEach(post => {
                const postElement = document.createElement('div');
                postElement.innerHTML = `<div class="post"><p>${post.content}</p><p>Автор: ${post.author}</p><p>Дата: ${post.created_at}</p></div>`;
                postsDiv.appendChild(postElement);
            });
        }

        // Применение фильтров и сортировки
        function applyFilters() {
            const postsDiv = document.getElementById('posts');
            postsDiv.innerHTML = '';
            currentAuthor = document.getElementById('author').value; // Получаем значение фильтра автора
            currentSort = document.getElementById('sortDate').value; // Получаем значение сортировки
            currentPage = 1
            fetchPosts(); // Загружаем посты с новыми параметрами
        }

        // Функция для смены страницы пагинации
        function changePage() {
            currentPage++;
            fetchPosts(); // Загружаем посты для новой страницы
        }

        // Инициализация страницы с начальными параметрами
        fetchPosts();
    </script>
</body>
</html>
