<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>MyEcho | Create Post</title>
</head>
<body>
<h1>Create a New Post</h1>
<form id="postForm">
    <p>author: {{ .Login }}</p>
  <textarea id="content" placeholder="Post Content" rows="5" cols="100"required></textarea>
  <button type="submit">Submit</button>
  <p id="error"></p>
  <p id="success"></p>
</form>
<p>back to <a href="/">Main Page</a></p>
<script>
  document.getElementById('postForm').addEventListener('submit', async (e) => {
      e.preventDefault();

      const content = document.getElementById('content').value;

      const err = document.getElementById("error");
      const success = document.getElementById("success");

      const response = await fetch('/createPost', {
        method: 'POST',
        headers: { 'Content-Type': 'application/json' },
        body: JSON.stringify({
          content: content
        })
      });
      
      if (response.ok) {
        success.innerText = 'Post created successfully!';
        err.innerText = "";
      } else {
        const data = await response.json();
        err.innerText = data["error"];
        success.innerText = "";
      }
  });
</script>
</body>
</html>
